In [0]:
import pandas as pd

In [0]:
project_path = "/content/drive/My Drive/Colab Notebooks/"

In [0]:
data = pd.read_csv('bank.csv')

In [0]:
#Drop the columns which are unique for all users like IDs (2.5 points)

In [5]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [6]:
data['RowNumber']
#removing row number as it is same as index

0           1
1           2
2           3
3           4
4           5
5           6
6           7
7           8
8           9
9          10
10         11
11         12
12         13
13         14
14         15
15         16
16         17
17         18
18         19
19         20
20         21
21         22
22         23
23         24
24         25
25         26
26         27
27         28
28         29
29         30
        ...
9970     9971
9971     9972
9972     9973
9973     9974
9974     9975
9975     9976
9976     9977
9977     9978
9978     9979
9979     9980
9980     9981
9981     9982
9982     9983
9983     9984
9984     9985
9985     9986
9986     9987
9987     9988
9988     9989
9989     9990
9990     9991
9991     9992
9992     9993
9993     9994
9994     9995
9995     9996
9996     9997
9997     9998
9998     9999
9999    10000
Name: RowNumber, Length: 10000, dtype: int64

In [0]:
data.drop(columns=['CustomerId','RowNumber','Surname'],inplace=True)

In [0]:
data = pd.get_dummies(data)

In [0]:
X = data.drop(columns=['Exited'])
y = data['Exited']

In [0]:
# Normalize the train and test data (2.5 points)
#Divide the data set into Train and test sets

In [0]:
#import sklean
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

In [0]:
norm = Normalizer()
X_norm = norm.fit_transform(X)

In [0]:
X_train,X_test,y_train,y_test = train_test_split(X_norm,y,test_size=0.25,random_state=123)

In [0]:
#Initialize & build the model (10 points)

In [13]:
import tensorflow as tf
import keras
tf.set_random_seed(42)

Using TensorFlow backend.

In [0]:
model = tf.keras.Sequential()

In [0]:
model.add(tf.keras.layers.Dense(2,activation='softmax'))

In [0]:
model.compile(optimizer='sgd',loss='categorical_crossentropy',metrics=['accuracy'])

In [0]:
y_test = tf.keras.utils.to_categorical(y_test)
y_train = tf.keras.utils.to_categorical(y_train)

In [18]:
model.fit(X_train,y_train,epochs=30)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
Train on 7500 samples
Epoch 1/30
7500/7500 [==============================] - 0s 35us/sample - loss: 0.6126 - acc: 0.6764
Epoch 2/30
7500/7500 [==============================] - 0s 31us/sample - loss: 0.5066 - acc: 0.7973
Epoch 3/30
7500/7500 [==============================] - 0s 32us/sample - loss: 0.5017 - acc: 0.7973
Epoch 4/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.5005 - acc: 0.7973
Epoch 5/30
7500/7500 [==============================] - 0s 26us/sample - loss: 0.4998 - acc: 0.7973
Epoch 6/30
7500/7500 [==============================] - 0s 30us/sample - loss: 0.4992 - acc: 0.7973
Epoch 7/30
7500/7500 [==============================] - 0s 26us/sample - loss: 0.4989 - acc: 0.7973
Epoch 8/30
7500/7500 [==============================] - 0s 29us/sample - loss: 0.4986 - acc: 0.7973
Epoch 9/30
7500/7500 [==============================] - 0s 29us/sample - loss: 0.4984 - acc: 0.7973
Epoch 10/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.4982 - acc: 0.7973
Epoch 11/30
7500/7500 [==============================] - 0s 30us/sample - loss: 0.4981 - acc: 0.7973
Epoch 12/30
7500/7500 [==============================] - 0s 29us/sample - loss: 0.4980 - acc: 0.7973
Epoch 13/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.4980 - acc: 0.7973
Epoch 14/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.4979 - acc: 0.7973
Epoch 15/30
7500/7500 [==============================] - 0s 30us/sample - loss: 0.4979 - acc: 0.7973
Epoch 16/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.4979 - acc: 0.7973
Epoch 17/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.4978 - acc: 0.7973
Epoch 18/30
7500/7500 [==============================] - 0s 27us/sample - loss: 0.4978 - acc: 0.7973
Epoch 19/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.4978 - acc: 0.7973
Epoch 20/30
7500/7500 [==============================] - 0s 27us/sample - loss: 0.4978 - acc: 0.7973
Epoch 21/30
7500/7500 [==============================] - 0s 27us/sample - loss: 0.4977 - acc: 0.7973
Epoch 22/30
7500/7500 [==============================] - 0s 29us/sample - loss: 0.4977 - acc: 0.7973
Epoch 23/30
7500/7500 [==============================] - 0s 29us/sample - loss: 0.4977 - acc: 0.7973
Epoch 24/30
7500/7500 [==============================] - 0s 27us/sample - loss: 0.4977 - acc: 0.7973
Epoch 25/30
7500/7500 [==============================] - 0s 29us/sample - loss: 0.4977 - acc: 0.7973
Epoch 26/30
7500/7500 [==============================] - 0s 29us/sample - loss: 0.4976 - acc: 0.7973
Epoch 27/30
7500/7500 [==============================] - 0s 29us/sample - loss: 0.4976 - acc: 0.7973
Epoch 28/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.4976 - acc: 0.7973
Epoch 29/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.4976 - acc: 0.7973
Epoch 30/30
7500/7500 [==============================] - 0s 28us/sample - loss: 0.4976 - acc: 0.7973

In [0]:
#Optimize the model (5 points)

In [0]:
model2 = tf.keras.Sequential()
model2.add(tf.keras.layers.BatchNormalization())
model2.add(tf.keras.layers.Dense(2,activation='softmax'))
model2.compile(optimizer='sgd',loss='categorical_crossentropy',metrics=['accuracy'])

In [20]:
model2.fit(X_train,y_train,epochs=30,batch_size=30)

Train on 7500 samples
Epoch 1/30
7500/7500 [==============================] - 0s 38us/sample - loss: 0.5537 - acc: 0.7567
Epoch 2/30
7500/7500 [==============================] - 0s 32us/sample - loss: 0.5134 - acc: 0.7904
Epoch 3/30
7500/7500 [==============================] - 0s 37us/sample - loss: 0.5076 - acc: 0.7919
Epoch 4/30
7500/7500 [==============================] - 0s 35us/sample - loss: 0.5034 - acc: 0.7949
Epoch 5/30
7500/7500 [==============================] - 0s 34us/sample - loss: 0.5018 - acc: 0.7967
Epoch 6/30
7500/7500 [==============================] - 0s 37us/sample - loss: 0.5005 - acc: 0.7973
Epoch 7/30
7500/7500 [==============================] - 0s 37us/sample - loss: 0.4997 - acc: 0.7973
Epoch 8/30
7500/7500 [==============================] - 0s 35us/sample - loss: 0.4987 - acc: 0.7973
Epoch 9/30
7500/7500 [==============================] - 0s 37us/sample - loss: 0.4981 - acc: 0.7973
Epoch 10/30
7500/7500 [==============================] - 0s 33us/sample - loss: 0.4985 - acc: 0.7973
Epoch 11/30
7500/7500 [==============================] - 0s 33us/sample - loss: 0.4978 - acc: 0.7973
Epoch 12/30
7500/7500 [==============================] - 0s 34us/sample - loss: 0.4979 - acc: 0.7973
Epoch 13/30
7500/7500 [==============================] - 0s 33us/sample - loss: 0.4972 - acc: 0.7973
Epoch 14/30
7500/7500 [==============================] - 0s 32us/sample - loss: 0.4971 - acc: 0.7973
Epoch 15/30
7500/7500 [==============================] - 0s 33us/sample - loss: 0.4971 - acc: 0.7973
Epoch 16/30
7500/7500 [==============================] - 0s 32us/sample - loss: 0.4966 - acc: 0.7973
Epoch 17/30
7500/7500 [==============================] - 0s 33us/sample - loss: 0.4973 - acc: 0.7973
Epoch 18/30
7500/7500 [==============================] - 0s 34us/sample - loss: 0.4964 - acc: 0.7973
Epoch 19/30
7500/7500 [==============================] - 0s 33us/sample - loss: 0.4971 - acc: 0.7973
Epoch 20/30
7500/7500 [==============================] - 0s 32us/sample - loss: 0.4960 - acc: 0.7973
Epoch 21/30
7500/7500 [==============================] - 0s 32us/sample - loss: 0.4968 - acc: 0.7973
Epoch 22/30
7500/7500 [==============================] - 0s 32us/sample - loss: 0.4971 - acc: 0.7973
Epoch 23/30
7500/7500 [==============================] - 0s 33us/sample - loss: 0.4967 - acc: 0.7973
Epoch 24/30
7500/7500 [==============================] - 0s 35us/sample - loss: 0.4966 - acc: 0.7973
Epoch 25/30
7500/7500 [==============================] - 0s 33us/sample - loss: 0.4962 - acc: 0.7973
Epoch 26/30
7500/7500 [==============================] - 0s 34us/sample - loss: 0.4962 - acc: 0.7973
Epoch 27/30
7500/7500 [==============================] - 0s 35us/sample - loss: 0.4974 - acc: 0.7973
Epoch 28/30
7500/7500 [==============================] - 0s 32us/sample - loss: 0.4965 - acc: 0.7973
Epoch 29/30
7500/7500 [==============================] - 0s 32us/sample - loss: 0.4964 - acc: 0.7973
Epoch 30/30
7500/7500 [==============================] - 0s 31us/sample - loss: 0.4964 - acc: 0.7973

In [0]:
model4 = tf.keras.Sequential()
model4.add(tf.keras.layers.BatchNormalization())
model4.add(tf.keras.layers.Dense(100,activation='sigmoid'))
model4.add(tf.keras.layers.Dense(100,activation='sigmoid'))
model4.add(tf.keras.layers.Dense(2,activation='softmax'))
model4.compile(optimizer='sgd',loss='categorical_crossentropy',metrics=['accuracy'])

In [22]:
model4.fit(X_train,y_train,epochs=30,batch_size=30)

Train on 7500 samples
Epoch 1/30
7500/7500 [==============================] - 0s 49us/sample - loss: 0.5060 - acc: 0.7973
Epoch 2/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.5053 - acc: 0.7973
Epoch 3/30
7500/7500 [==============================] - 0s 42us/sample - loss: 0.5049 - acc: 0.7973
Epoch 4/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.5046 - acc: 0.7973
Epoch 5/30
7500/7500 [==============================] - 0s 39us/sample - loss: 0.5042 - acc: 0.7973
Epoch 6/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.5034 - acc: 0.7973
Epoch 7/30
7500/7500 [==============================] - 0s 41us/sample - loss: 0.5027 - acc: 0.7973
Epoch 8/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.5029 - acc: 0.7973
Epoch 9/30
7500/7500 [==============================] - 0s 43us/sample - loss: 0.5022 - acc: 0.7973
Epoch 10/30
7500/7500 [==============================] - 0s 39us/sample - loss: 0.5022 - acc: 0.7973
Epoch 11/30
7500/7500 [==============================] - 0s 44us/sample - loss: 0.5022 - acc: 0.7973
Epoch 12/30
7500/7500 [==============================] - 0s 38us/sample - loss: 0.5014 - acc: 0.7973
Epoch 13/30
7500/7500 [==============================] - 0s 39us/sample - loss: 0.5012 - acc: 0.7973
Epoch 14/30
7500/7500 [==============================] - 0s 41us/sample - loss: 0.5007 - acc: 0.7973
Epoch 15/30
7500/7500 [==============================] - 0s 39us/sample - loss: 0.5010 - acc: 0.7973
Epoch 16/30
7500/7500 [==============================] - 0s 39us/sample - loss: 0.5007 - acc: 0.7973
Epoch 17/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.5007 - acc: 0.7973
Epoch 18/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.5004 - acc: 0.7973
Epoch 19/30
7500/7500 [==============================] - 0s 41us/sample - loss: 0.4996 - acc: 0.7973
Epoch 20/30
7500/7500 [==============================] - 0s 39us/sample - loss: 0.5000 - acc: 0.7973
Epoch 21/30
7500/7500 [==============================] - 0s 38us/sample - loss: 0.4995 - acc: 0.7973
Epoch 22/30
7500/7500 [==============================] - 0s 39us/sample - loss: 0.4996 - acc: 0.7973
Epoch 23/30
7500/7500 [==============================] - 0s 39us/sample - loss: 0.4996 - acc: 0.7973
Epoch 24/30
7500/7500 [==============================] - 0s 38us/sample - loss: 0.4991 - acc: 0.7973
Epoch 25/30
7500/7500 [==============================] - 0s 38us/sample - loss: 0.4988 - acc: 0.7973
Epoch 26/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.4993 - acc: 0.7973
Epoch 27/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.4994 - acc: 0.7973
Epoch 28/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.4989 - acc: 0.7973
Epoch 29/30
7500/7500 [==============================] - 0s 40us/sample - loss: 0.4987 - acc: 0.7973
Epoch 30/30
7500/7500 [==============================] - 0s 38us/sample - loss: 0.4991 - acc: 0.7973

In [0]:
pred = model4.predict(X_test)

In [0]:
pred_df = pd.DataFrame(columns=['y_test','y_pred'])

In [0]:
y_pred =[]
for i in range(pred.shape[0]):
  if pred[i][0] >= 0.5:
    pred_df.loc[i] = [y_test[i][1]]+[0.0]
    
  else:
    pred_df.loc[i] = [y_test[i][0]]+[1.0]

In [28]:
pred_df.head()

   y_test  y_pred
0     0.0     0.0
1     0.0     0.0
2     0.0     0.0
3     0.0     0.0
4     0.0     0.0

In [0]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [32]:
confusion_matrix(pred_df['y_test'],pred_df['y_pred'])

array([[1983,    0],
       [ 517,    0]])

In [34]:
accuracy_score(pred_df['y_test'],pred_df['y_pred'])

0.7932