In [16]:
import os
!pip install kaggle --upgrade

Requirement already up-to-date: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.9.11)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [0]:
os.environ['KAGGLE_USERNAME'] = "dileepsn"
os.environ['KAGGLE_KEY'] = "5b6a34d0465caab35e9ae3a1da050525"

In [20]:
!kaggle competitions download -c plant-seedlings-classification

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading sample_submission.csv.zip to /content
  0% 0.00/5.13k [00:00<?, ?B/s]
100% 5.13k/5.13k [00:00<00:00, 1.98MB/s]
Downloading test.zip to /content
 95% 82.0M/86.0M [00:00<00:00, 157MB/s]
100% 86.0M/86.0M [00:00<00:00, 159MB/s]
Downloading train.zip to /content
100% 1.59G/1.60G [00:17<00:00, 126MB/s]
100% 1.60G/1.60G [00:17<00:00, 98.6MB/s]

In [0]:
from zipfile import ZipFile

with ZipFile('train.zip','r') as f:
  f.extractall()

In [0]:
with ZipFile('test.zip','r') as f:
  f.extractall()

1.Read the images and generate the train and test dataset

In [24]:
x_train =[]
y_train = []
x_test = []
os.listdir('train')

['Common wheat',
 'Fat Hen',
 'Loose Silky-bent',
 'Maize',
 'Charlock',
 'Sugar beet',
 'Black-grass',
 'Shepherds Purse',
 'Common Chickweed',
 'Cleavers',
 'Scentless Mayweed',
 'Small-flowered Cranesbill']

In [0]:
import cv2
for i in os.listdir('train'):
  for j in os.listdir('train/'+ i):
    temp = cv2.imread('train/'+ i +'/'+j)
    temp = cv2.resize(temp,(128,128))
    x_train.append(temp)
    y_train.append(i)

In [29]:
y_train[-5:]

['Small-flowered Cranesbill',
 'Small-flowered Cranesbill',
 'Small-flowered Cranesbill',
 'Small-flowered Cranesbill',
 'Small-flowered Cranesbill']

In [30]:
len(x_train)

4750

In [27]:
!pwd

/content/train

In [0]:
for i in os.listdir('test'):
  tmp2 = cv2.imread('test/'+i)
  tmp2 = cv2.resize(tmp2,(128,128))
  x_test.append(tmp2)

In [32]:
len(x_test)

794

In [33]:
print(x_train[0].shape)

print(x_test[0].shape)

import numpy as np

x_train = np.array(x_train)
x_test = np.array(x_test)

print(x_train[0].shape)

print(x_test[0].shape)

(128, 128, 3)
(128, 128, 3)
(128, 128, 3)
(128, 128, 3)

In [0]:
import pandas as pd
y_train = pd.get_dummies(y_train)

In [35]:
y_train

      Black-grass  Charlock  ...  Small-flowered Cranesbill  Sugar beet
0               0         0  ...                          0           0
1               0         0  ...                          0           0
2               0         0  ...                          0           0
3               0         0  ...                          0           0
4               0         0  ...                          0           0
...           ...       ...  ...                        ...         ...
4745            0         0  ...                          1           0
4746            0         0  ...                          1           0
4747            0         0  ...                          1           0
4748            0         0  ...                          1           0
4749            0         0  ...                          1           0

[4750 rows x 12 columns]

In [0]:
y_train = np.array(y_train)

2. Divide the data set into Train and validation data sets

In [37]:
from sklearn.model_selection import train_test_split
x_train2,x_test2,y_train2,y_test2 = train_test_split(x_train,y_train,test_size=0.2,random_state=123)
print (x_train2.shape)
print (x_test2.shape)

(3800, 128, 128, 3)
(950, 128, 128, 3)

In [0]:
#normalizing the data
x_train2 = x_train2/255
x_test2 = x_test2/255

3. Initialize & build the model 
4. Optimize the model 
5. Predict the accuracy for both train and validation data (7 points)

In [39]:
from keras.models import Sequential

Using TensorFlow backend.

In [40]:
model = Sequential()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [41]:
from keras.layers import BatchNormalization
model.add(BatchNormalization(input_shape=(128,128,3)))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:203: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:2041: The name tf.nn.fused_batch_norm is deprecated. Please use tf.compat.v1.nn.fused_batch_norm instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

In [0]:
from keras.layers import Convolution2D, Dropout, Dense ,MaxPool2D ,Flatten

In [43]:
model.add(Convolution2D(32,(3,3),activation='relu',input_shape = (128, 128, 3)))
model.add(MaxPool2D(pool_size=(2,2)))

model.add(Convolution2D(64,kernel_size=4,activation='relu'))
model.add(MaxPool2D(pool_size=(2,2)))

model.add(Dropout(0.3))

model.add(Convolution2D(128,kernel_size=3,activation='relu'))
model.add(MaxPool2D(pool_size=(2,2)))

model.add(Dropout(0.3))

model.add(Convolution2D(128,kernel_size=2,activation='relu'))
model.add(MaxPool2D(pool_size=(2,2)))

model.add(Flatten())

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [0]:
#Full connected layers
model.add(Dense(128,activation='relu'))

model.add(Dense(units = 64, activation = 'relu'))
model.add(Dropout(0.3))
model.add(Dense(units = 32, activation = 'relu'))
model.add(Dropout(0.3))
model.add(Dense(units = 12, activation = 'softmax'))

In [45]:
#optimizers

from keras.optimizers import adam
custom_optimizer = adam(lr=0.001)
model.compile(optimizer=custom_optimizer,metrics=['accuracy'],loss='categorical_crossentropy')

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

In [47]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization_1 (Batch (None, 128, 128, 3)       12
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 126, 126, 32)      896
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 63, 63, 32)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 60, 60, 64)        32832
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 30, 30, 64)        0
_________________________________________________________________
dropout_1 (Dropout)          (None, 30, 30, 64)        0
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 28, 28, 128)       73856
_________________________________________________________________
max_pooling2d_3 (MaxPooling2 (None, 14, 14, 128)       0
_________________________________________________________________
dropout_2 (Dropout)          (None, 14, 14, 128)       0
_________________________________________________________________
conv2d_4 (Conv2D)            (None, 13, 13, 128)       65664
_________________________________________________________________
max_pooling2d_4 (MaxPooling2 (None, 6, 6, 128)         0
_________________________________________________________________
flatten_1 (Flatten)          (None, 4608)              0
_________________________________________________________________
dense_1 (Dense)              (None, 128)               589952
_________________________________________________________________
dense_2 (Dense)              (None, 64)                8256
_________________________________________________________________
dropout_3 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_3 (Dense)              (None, 32)                2080
_________________________________________________________________
dropout_4 (Dropout)          (None, 32)                0
_________________________________________________________________
dense_4 (Dense)              (None, 12)                396
=================================================================
Total params: 773,944
Trainable params: 773,938
Non-trainable params: 6
_________________________________________________________________

In [48]:
model.fit(x_train2,y_train2,epochs=30,batch_size=48,validation_data=(x_test2,y_test2),initial_epoch=0)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 3800 samples, validate on 950 samples
Epoch 1/30
3800/3800 [==============================] - 193s 51ms/step - loss: 2.3303 - acc: 0.1766 - val_loss: 2.0048 - val_acc: 0.2832
Epoch 2/30
3800/3800 [==============================] - 190s 50ms/step - loss: 2.0151 - acc: 0.3024 - val_loss: 1.8916 - val_acc: 0.3905
Epoch 3/30
3800/3800 [==============================] - 189s 50ms/step - loss: 1.7027 - acc: 0.4255 - val_loss: 1.3528 - val_acc: 0.5653
Epoch 4/30
3800/3800 [==============================] - 186s 49ms/step - loss: 1.4503 - acc: 0.5084 - val_loss: 1.1456 - val_acc: 0.6411
Epoch 5/30
3800/3800 [==============================] - 179s 47ms/step - loss: 1.2904 - acc: 0.5726 - val_loss: 1.1012 - val_acc: 0.6537
Epoch 6/30
3800/3800 [==============================] - 174s 46ms/step - loss: 1.1521 - acc: 0.6179 - val_loss: 0.9865 - val_acc: 0.6811
Epoch 7/30
3800/3800 [==============================] - 172s 45ms/step - loss: 1.0064 - acc: 0.6650 - val_loss: 0.9235 - val_acc: 0.6979
Epoch 8/30
3800/3800 [==============================] - 195s 51ms/step - loss: 0.9659 - acc: 0.6768 - val_loss: 0.8280 - val_acc: 0.7389
Epoch 9/30
3800/3800 [==============================] - 191s 50ms/step - loss: 0.8667 - acc: 0.7166 - val_loss: 0.8502 - val_acc: 0.7379
Epoch 10/30
3800/3800 [==============================] - 186s 49ms/step - loss: 0.7785 - acc: 0.7482 - val_loss: 0.7297 - val_acc: 0.7758
Epoch 11/30
3800/3800 [==============================] - 185s 49ms/step - loss: 0.7272 - acc: 0.7584 - val_loss: 0.8142 - val_acc: 0.7484
Epoch 12/30
3800/3800 [==============================] - 181s 48ms/step - loss: 0.7480 - acc: 0.7611 - val_loss: 0.7219 - val_acc: 0.7821
Epoch 13/30
3800/3800 [==============================] - 184s 48ms/step - loss: 0.5942 - acc: 0.7997 - val_loss: 0.8572 - val_acc: 0.7242
Epoch 14/30
3800/3800 [==============================] - 190s 50ms/step - loss: 0.5328 - acc: 0.8195 - val_loss: 0.6093 - val_acc: 0.8211
Epoch 15/30
3800/3800 [==============================] - 182s 48ms/step - loss: 0.4722 - acc: 0.8408 - val_loss: 0.6046 - val_acc: 0.8179
Epoch 16/30
3800/3800 [==============================] - 180s 47ms/step - loss: 0.4800 - acc: 0.8463 - val_loss: 0.6566 - val_acc: 0.8032
Epoch 17/30
3800/3800 [==============================] - 183s 48ms/step - loss: 0.4563 - acc: 0.8424 - val_loss: 0.6033 - val_acc: 0.8200
Epoch 18/30
3800/3800 [==============================] - 175s 46ms/step - loss: 0.4131 - acc: 0.8542 - val_loss: 0.7227 - val_acc: 0.7989
Epoch 19/30
3800/3800 [==============================] - 171s 45ms/step - loss: 0.4436 - acc: 0.8511 - val_loss: 0.5485 - val_acc: 0.8326
Epoch 20/30
3800/3800 [==============================] - 169s 45ms/step - loss: 0.3352 - acc: 0.8803 - val_loss: 0.6190 - val_acc: 0.8326
Epoch 21/30
3800/3800 [==============================] - 175s 46ms/step - loss: 0.3571 - acc: 0.8716 - val_loss: 0.6063 - val_acc: 0.8232
Epoch 22/30
3800/3800 [==============================] - 181s 48ms/step - loss: 0.3174 - acc: 0.8787 - val_loss: 0.6965 - val_acc: 0.8284
Epoch 23/30
3800/3800 [==============================] - 181s 48ms/step - loss: 0.3018 - acc: 0.8892 - val_loss: 0.6545 - val_acc: 0.8305
Epoch 24/30
3800/3800 [==============================] - 179s 47ms/step - loss: 0.2720 - acc: 0.9008 - val_loss: 0.7455 - val_acc: 0.8137
Epoch 25/30
3800/3800 [==============================] - 179s 47ms/step - loss: 0.2783 - acc: 0.8979 - val_loss: 0.6529 - val_acc: 0.8221
Epoch 26/30
3800/3800 [==============================] - 178s 47ms/step - loss: 0.2552 - acc: 0.9082 - val_loss: 0.6111 - val_acc: 0.8411
Epoch 27/30
3800/3800 [==============================] - 178s 47ms/step - loss: 0.2650 - acc: 0.9076 - val_loss: 0.7398 - val_acc: 0.8242
Epoch 28/30
3800/3800 [==============================] - 170s 45ms/step - loss: 0.2491 - acc: 0.9055 - val_loss: 0.7263 - val_acc: 0.8253
Epoch 29/30
3800/3800 [==============================] - 171s 45ms/step - loss: 0.3061 - acc: 0.8968 - val_loss: 0.6826 - val_acc: 0.8305
Epoch 30/30
3800/3800 [==============================] - 170s 45ms/step - loss: 0.2624 - acc: 0.9016 - val_loss: 0.6633 - val_acc: 0.8379

In [50]:
#Checking for 5 more iterations
model.fit(x_train2,y_train2,epochs=5,batch_size=48,validation_data=(x_test2,y_test2))

Train on 3800 samples, validate on 950 samples
Epoch 1/5
3800/3800 [==============================] - 171s 45ms/step - loss: 0.2202 - acc: 0.9171 - val_loss: 0.7938 - val_acc: 0.8137
Epoch 2/5
3800/3800 [==============================] - 171s 45ms/step - loss: 0.2333 - acc: 0.9179 - val_loss: 0.6803 - val_acc: 0.8432
Epoch 3/5
3800/3800 [==============================] - 171s 45ms/step - loss: 0.2010 - acc: 0.9271 - val_loss: 0.7695 - val_acc: 0.8305
Epoch 4/5
3800/3800 [==============================] - 173s 45ms/step - loss: 0.1853 - acc: 0.9308 - val_loss: 0.7228 - val_acc: 0.8421
Epoch 5/5
3800/3800 [==============================] - 173s 45ms/step - loss: 0.2009 - acc: 0.9308 - val_loss: 0.7942 - val_acc: 0.8263

In [0]:
model.save('/content/drive/My Drive/Colab Notebooks/Notebooks/MY_PlantClassification_model.h5')
model.save_weights('/content/drive/My Drive/Colab Notebooks/Notebooks/MY_Plant_Classification_weights.h5')

In [52]:
#Testing the model on test set
score = model.evaluate(x_train2, y_train2)
print('Train loss:', score[0])
print('Train accuracy:', score[1])

3800/3800 [==============================] - 47s 12ms/step
Train loss: 0.09483729518361782
Train accuracy: 0.9689473682955692

In [51]:
#Testing the model on test set
score = model.evaluate(x_test2, y_test2)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

950/950 [==============================] - 11s 12ms/step
Test loss: 0.7942198094568754
Test accuracy: 0.8263157893482007