## Dog Breed Classification

In this project we will use traditional CNN, CNN with data augmentation and finally transfer Learning by VGG16 model with weights pre-trained on Imagenet to solve the dog breed classification problem

### Load Dataset Files

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

Now, upload the given dataset file shared with you in your google drive and give its path for the below given `project_path` variable. For example, a path is given below according to the file path in our google drive. You need to change this to match the path of yours.

In [0]:
project_path = "/content/drive/My Drive/Colab Notebooks/DogBreed_Classification/"

Run the below code to extract all the images in the train.zip files given in the dataset. We are going to use these images as train and validation sets and their labels in further steps.

In [0]:
from zipfile import ZipFile
with ZipFile(project_path+'train.zip', 'r') as z:
  z.extractall()

In [0]:
from zipfile import ZipFile
with ZipFile(project_path+'train.zip','r') as train:
  train.extractall()

Repeat the same step for test.zip

In [0]:
with ZipFile(project_path+'test.zip','r') as test:
  test.extractall()

Repeat the same step for sample_submission.csv.zip

In [0]:
with ZipFile(project_path+'sample_submission.csv.zip') as sample:
  sample.extractall()

Repeat the same step for labels.csv.zip

In [0]:
with ZipFile(project_path+'labels.csv.zip') as labels:
  labels.extractall()

After this process, we will have 4 files - Train folder, test folder and labels.csv and sample_submission.csv as part of your google drive

In [8]:
!ls

drive  labels.csv  sample_data	sample_submission.csv  test  train

### Read labels.csv file using pandas

In [0]:
import pandas as pd

In [0]:
labels = pd.read_csv('labels.csv')

In [11]:
labels.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

### Print the count of each category of Dogs given in the dataset

In [12]:
labels['breed'].value_counts().shape

(120,)

In [13]:
labels['breed'].value_counts()

scottish_deerhound      126
maltese_dog             117
afghan_hound            116
entlebucher             115
bernese_mountain_dog    114
                       ...
brabancon_griffon        67
komondor                 67
golden_retriever         67
briard                   66
eskimo_dog               66
Name: breed, Length: 120, dtype: int64

### Get one-hot encodings of labels

In [0]:
dummy = pd.get_dummies(labels['breed'])

In [0]:
labels = pd.merge(labels,dummy,left_index=True,right_index=True)

In [0]:
labels = labels.drop(columns=['breed'])

In [17]:
labels.head()

                                 id  ...  yorkshire_terrier
0  000bec180eb18c7604dcecc8fe0dba07  ...                  0
1  001513dfcb2ffafc82cccf4d8bbaba97  ...                  0
2  001cdf01b096e06d78e9e5112d419397  ...                  0
3  00214f311d5d2247d5dfe4fe24b2303d  ...                  0
4  0021f9ceb3235effd7fcde7f7538ed62  ...                  0

[5 rows x 121 columns]

## Preparing training dataset
1. Write a code which reads each and every id from labels.csv file and loads the corresponding image (in RGB - 128, 128, 3) from the train folder. <br>
2. Create 2 variables <br> 
     a.  x_train - Should have all the images of the dogs from train folder <br>
     b.  y_train - Corresponding label of the dog <br>
<u>Note:</u> The id of the dog images and its corresponding labels are available in labels.csv file   
<u>Hint:</u> Watch the video shared on "Preparing the training dataset" if you face issue on creating the training dataset

In [0]:
X_train =[]
y_train = []
X_test = []
import cv2

In [19]:
from tqdm import tqdm
import numpy as np

for id in tqdm(labels.id) :
  temp = cv2.imread('train/'+id+'.jpg')
  temp = cv2.resize(temp,(128,128))
  X_train.append(temp)
  y_train.append(labels[labels.id == id].iloc[:,1:].values)

100%|██████████| 10222/10222 [00:46<00:00, 219.85it/s]

In [176]:
X_train[4]

array([[[ 81,  83,  82],
        [ 81,  83,  82],
        [ 81,  84,  82],
        ...,
        [ 84,  86,  86],
        [ 84,  86,  86],
        [ 80,  84,  78]],

       [[ 79,  82,  80],
        [ 79,  82,  80],
        [ 78,  81,  78],
        ...,
        [ 84,  86,  86],
        [ 84,  86,  86],
        [ 80,  84,  79]],

       [[ 82,  85,  83],
        [ 82,  85,  83],
        [ 83,  86,  84],
        ...,
        [ 85,  87,  87],
        [ 81,  83,  83],
        [ 84,  87,  85]],

       ...,

       [[ 82,  84,  84],
        [ 89,  91,  91],
        [ 87,  89,  89],
        ...,
        [ 82,  86,  83],
        [ 99, 102, 100],
        [ 97,  98, 108]],

       [[104, 105, 105],
        [ 83,  85,  85],
        [ 88,  90,  90],
        ...,
        [ 87,  89,  87],
        [ 85,  88,  87],
        [ 85,  89,  90]],

       [[ 88,  91,  89],
        [ 87,  90,  88],
        [ 83,  86,  84],
        ...,
        [ 88,  91,  89],
        [ 90,  93,  91],
        [ 85,  90,  89]]], dtype=uint8)

In [0]:
y_train = np.array(y_train)

In [21]:
y_train.shape

(10222, 1, 120)

In [0]:
y_train = y_train.reshape(10222,120)

Normalize the training data and convert into 4 dimensions so that it can be used as an input to conv layers in the model

In [0]:
X_train = np.array(X_train).astype("float32") / 255

In [24]:
X_train.shape

(10222, 128, 128, 3)

In [25]:
y_train.shape

(10222, 120)

### Split the training and validation data from `x_train_data` and `y_train_data` obtained from above step

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train, x_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.3, random_state=123)

### Loading the test data
Read the id column from the samples_submission.csv and store it in test_img

In [0]:
sample = pd.read_csv("sample_submission.csv")

In [29]:
sample.head()

                                 id  ...  yorkshire_terrier
0  000621fb3cbb32d8935728e48679680e  ...           0.008333
1  00102ee9d8eb90812350685311fe5890  ...           0.008333
2  0012a730dfa437f5f3613fb75efcd4ce  ...           0.008333
3  001510bc8570bbeee98c8d80c8a95ec1  ...           0.008333
4  001a5f3114548acdefa3d4da05474c2e  ...           0.008333

[5 rows x 121 columns]

In [0]:
test_img = sample['id']

In [31]:
test_img

0        000621fb3cbb32d8935728e48679680e
1        00102ee9d8eb90812350685311fe5890
2        0012a730dfa437f5f3613fb75efcd4ce
3        001510bc8570bbeee98c8d80c8a95ec1
4        001a5f3114548acdefa3d4da05474c2e
                       ...
10352    ffeda8623d4eee33c6d1156a2ecbfcf8
10353    fff1ec9e6e413275984966f745a313b0
10354    fff74b59b758bbbf13a5793182a9bbe4
10355    fff7d50d848e8014ac1e9172dc6762a3
10356    fffbff22c1f51e3dc80c4bf04089545b
Name: id, Length: 10357, dtype: object

Run the below code to load the test image files in x_test_feature

In [32]:
x_test_feature = []
i = 0 # initialisation
for f in tqdm(test_img.values): # f for format ,jpg
    img = cv2.imread('./test/{}.jpg'.format(f))
    img_resize = cv2.resize(img, (128, 128)) 
    x_test_feature.append(img_resize)

100%|██████████| 10357/10357 [00:27<00:00, 373.22it/s]

Normalize the test data and convert it into 4 dimensions

In [0]:
x_test_feature = np.array(x_test_feature).astype("float32")/255

In [34]:
x_test_feature.shape

(10357, 128, 128, 3)

### Build a basic conv neural network with 2 conv layers (kernel sizes - 5 and 3) add layers as mentioned below for classification.

1. Add a Dense layer with 256 neurons with `relu` activation

2. Add a Dense layer with 120 neurons as final layer (as there are 120 classes in the given dataset) with `softmax` activation for classifiaction.

In [35]:
from keras.models import Sequential
from keras.backend import clear_session

Using TensorFlow backend.

In [36]:
clear_session()
model = Sequential(name = "Dog breed classification")

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:107: The name tf.reset_default_graph is deprecated. Please use tf.compat.v1.reset_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:111: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [0]:
from keras.layers import Conv2D,MaxPool2D,Dropout,Flatten,Dense,BatchNormalization
from keras.callbacks import ModelCheckpoint

In [38]:
model.add(BatchNormalization(input_shape=(128,128,3)))
model.add(Conv2D(32,kernel_size=5,activation='relu',input_shape=(128,128,3)))
model.add(MaxPool2D(pool_size=(2,2)))
model.add(Dropout(0.3))
model.add(Conv2D(32,kernel_size=3,activation='relu'))
model.add(MaxPool2D(pool_size=(2,2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(256,activation='relu'))
model.add(Dense(120,activation='softmax'))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:203: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:2041: The name tf.nn.fused_batch_norm is deprecated. Please use tf.compat.v1.nn.fused_batch_norm instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4267: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.

In [39]:
model.summary()

Model: "Dog breed classification"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization_1 (Batch (None, 128, 128, 3)       12
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 124, 124, 32)      2432
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 62, 62, 32)        0
_________________________________________________________________
dropout_1 (Dropout)          (None, 62, 62, 32)        0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 60, 60, 32)        9248
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 30, 30, 32)        0
_________________________________________________________________
dropout_2 (Dropout)          (None, 30, 30, 32)        0
_________________________________________________________________
flatten_1 (Flatten)          (None, 28800)             0
_________________________________________________________________
dense_1 (Dense)              (None, 256)               7373056
_________________________________________________________________
dense_2 (Dense)              (None, 120)               30840
=================================================================
Total params: 7,415,588
Trainable params: 7,415,582
Non-trainable params: 6
_________________________________________________________________

### Use batch_size = 128 and epochs = 10 and execute the model

In [40]:
model.compile(optimizer='adam',metrics=['accuracy'],loss='categorical_crossentropy')

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

In [41]:
model.fit(x_train,y_train,batch_size=128,epochs=10,validation_data=(x_val,y_val))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Train on 7155 samples, validate on 3067 samples
Epoch 1/10
7155/7155 [==============================] - 11s 1ms/step - loss: 5.1253 - acc: 0.0108 - val_loss: 4.7871 - val_acc: 0.0085
Epoch 2/10
7155/7155 [==============================] - 3s 482us/step - loss: 4.7708 - acc: 0.0172 - val_loss: 4.7486 - val_acc: 0.0163
Epoch 3/10
7155/7155 [==============================] - 3s 483us/step - loss: 4.6351 - acc: 0.0274 - val_loss: 4.6052 - val_acc: 0.0300
Epoch 4/10
7155/7155 [==============================] - 3s 485us/step - loss: 4.4376 - acc: 0.0464 - val_loss: 4.5129 - val_acc: 0.0421
Epoch 5/10
7155/7155 [==============================] - 3s 484us/step - loss: 4.2267 - acc: 0.0746 - val_loss: 4.4559 - val_acc: 0.0395
Epoch 6/10
7155/7155 [==============================] - 3s 486us/step - loss: 3.9141 - acc: 0.1133 - val_loss: 4.4799 - val_acc: 0.0421
Epoch 7/10
7155/7155 [==============================] - 3s 485us/step - loss: 3.3889 - acc: 0.2041 - val_loss: 4.6417 - val_acc: 0.0427
Epoch 8/10
7155/7155 [==============================] - 3s 484us/step - loss: 2.6782 - acc: 0.3414 - val_loss: 5.0852 - val_acc: 0.0473
Epoch 9/10
7155/7155 [==============================] - 3s 484us/step - loss: 1.9595 - acc: 0.4985 - val_loss: 5.7391 - val_acc: 0.0385
Epoch 10/10
7155/7155 [==============================] - 3s 486us/step - loss: 1.3144 - acc: 0.6566 - val_loss: 6.4212 - val_acc: 0.0414

#The model accuracy is very poor !!!!

### Use Data Augmentation in the above model to see if the accuracy improves

In [0]:
from keras.preprocessing.image import ImageDataGenerator, load_img, img_to_array

In [0]:
#Fit the model using fit_generator() using train_generator and val_generator 
#from the above step with 10 epochs
data = ImageDataGenerator(validation_split=0.2, 
                          rescale=1/255,
                          samplewise_center=True, # set input mean to 0 over the sample
                          samplewise_std_normalization=True,  # divide inputs by std of the sample
                          rotation_range=90,       # randomly rotate images in the range (degrees, 0 to 180)
                          width_shift_range=0.2,   # randomly shift images horizontally (fraction of total width)
                          height_shift_range=0.2,  # randomly shift images vertically (fraction of total height)
                          fill_mode='reflect',     # filling the area outside
                          zoom_range=0.4,          # random zoom
                          horizontal_flip=True,    # randomly flip images
                          vertical_flip=True)      # randomly flip images

### Using the above objects, create the image generators with variable names `train_generator` and `val_generator`

You need to use train_datagen.flow() and val_datagen.flow()

In [0]:
train_generator = data.flow(x_train, y_train, batch_size=128)

In [0]:
val_generator = data.flow(x_val,y_val,batch_size = 128)

### Fit the model using fit_generator() using `train_generator` and `val_generator` from the above step with 10 epochs

In [47]:
output_imggen = model.fit_generator(train_generator, epochs=10, validation_data=val_generator, verbose = 2, steps_per_epoch=20, validation_steps=80)

Epoch 1/10
 - 44s - loss: 5.4709 - acc: 0.0160 - val_loss: 4.7670 - val_acc: 0.0152
Epoch 2/10
 - 40s - loss: 4.6951 - acc: 0.0209 - val_loss: 4.7594 - val_acc: 0.0145
Epoch 3/10
 - 39s - loss: 4.6534 - acc: 0.0160 - val_loss: 4.7534 - val_acc: 0.0152
Epoch 4/10
 - 38s - loss: 4.6363 - acc: 0.0207 - val_loss: 4.7135 - val_acc: 0.0185
Epoch 5/10
 - 38s - loss: 4.5955 - acc: 0.0242 - val_loss: 4.7032 - val_acc: 0.0198
Epoch 6/10
 - 39s - loss: 4.5808 - acc: 0.0272 - val_loss: 4.6918 - val_acc: 0.0187
Epoch 7/10
 - 38s - loss: 4.5758 - acc: 0.0371 - val_loss: 4.6551 - val_acc: 0.0200
Epoch 8/10
 - 39s - loss: 4.5331 - acc: 0.0258 - val_loss: 4.6524 - val_acc: 0.0215
Epoch 9/10
 - 42s - loss: 4.5182 - acc: 0.0319 - val_loss: 4.6926 - val_acc: 0.0167
Epoch 10/10
 - 40s - loss: 4.5410 - acc: 0.0277 - val_loss: 4.6167 - val_acc: 0.0229

# Model accuracy is still poor!!!

### Lets use Transfer Learning

Download the vgg wieght file from here : https://github.com/MinerKasch/applied_deep_learning/blob/master/vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5

Use the below code to load VGG16 weights trained on ImageNet

In [0]:
from keras.applications.vgg16 import VGG16, preprocess_input
path = '/content/drive/My Drive/Colab Notebooks/vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5'
base_model= VGG16(weights = path, input_shape=(128,128,3),include_top=False)

Print the summary of the base_model

In [67]:
base_model.summary()

Model: "vgg16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         (None, 128, 128, 3)       0
_________________________________________________________________
block1_conv1 (Conv2D)        (None, 128, 128, 64)      1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, 128, 128, 64)      36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, 64, 64, 64)        0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, 64, 64, 128)       73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, 64, 64, 128)       147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, 32, 32, 128)       0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, 32, 32, 256)       295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, 32, 32, 256)       590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, 32, 32, 256)       590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, 16, 16, 256)       0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, 16, 16, 512)       1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, 16, 16, 512)       2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, 16, 16, 512)       2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, 8, 8, 512)         0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, 8, 8, 512)         2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, 8, 8, 512)         2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, 8, 8, 512)         2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, 4, 4, 512)         0
=================================================================
Total params: 14,714,688
Trainable params: 14,714,688
Non-trainable params: 0
_________________________________________________________________

### Add the following classification layers to the imported VGG Model <br>
1. Flatten Layer
2. Dense layer with 1024 neurons with activation as Relu
3. Dense layer with 256 neurons with activation as Relu
4. Dense layer with 120 neurons with activation as Softmax

In [0]:
new = base_model.output

In [78]:
new = Flatten()(new)
new = Dense(1024, activation='relu')(new)

new = Dense(256, activation='relu')(new)

new = Dense(120, activation='softmax')(new)

#This is NOT a Sequential() model.
from keras.models import Model
custom = Model(input=base_model.input, output=new)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: UserWarning: Update your `Model` call to the Keras 2 API: `Model(inputs=Tensor("in..., outputs=Tensor("de...)`
  # Remove the CWD from sys.path while we load stuff.

### Make all the layers in the base_model (VGG16) to be non-trainable

In [0]:
for i in custom.layers[:-3]:
    i.trainable = False

custom.compile(loss='categorical_crossentropy',
                     optimizer='adam',
                     metrics=['accuracy'])

### Fit and compile the model with batch_size = 128 and epochs = 10 and execute the model

Try to get training and validation accuracy to be more than 90%

In [80]:
\
  custom.compile(loss='categorical_crossentropy',
                     optimizer='adam',metrics=['accuracy'])
  custom.fit_generator(train_generator, epochs=10, validation_data=val_generator, verbose = 2,  steps_per_epoch=128)

Epoch 1/10
 - 66s - loss: 4.7862 - acc: 0.0089 - val_loss: 4.7861 - val_acc: 0.0095
Epoch 2/10
 - 59s - loss: 4.7834 - acc: 0.0117 - val_loss: 4.7854 - val_acc: 0.0117
Epoch 3/10
 - 60s - loss: 4.7808 - acc: 0.0127 - val_loss: 4.7850 - val_acc: 0.0117
Epoch 4/10
 - 62s - loss: 4.7793 - acc: 0.0127 - val_loss: 4.7848 - val_acc: 0.0117
Epoch 5/10
 - 58s - loss: 4.7784 - acc: 0.0131 - val_loss: 4.7848 - val_acc: 0.0117
Epoch 6/10
 - 58s - loss: 4.7763 - acc: 0.0118 - val_loss: 4.7849 - val_acc: 0.0117
Epoch 7/10
 - 58s - loss: 4.7765 - acc: 0.0127 - val_loss: 4.7852 - val_acc: 0.0117
Epoch 8/10
 - 56s - loss: 4.7760 - acc: 0.0125 - val_loss: 4.7854 - val_acc: 0.0117
Epoch 9/10
 - 57s - loss: 4.7747 - acc: 0.0126 - val_loss: 4.7857 - val_acc: 0.0117
Epoch 10/10
 - 58s - loss: 4.7744 - acc: 0.0126 - val_loss: 4.7860 - val_acc: 0.0117

In [81]:
custom.summary()

Model: "model_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         (None, 128, 128, 3)       0
_________________________________________________________________
block1_conv1 (Conv2D)        (None, 128, 128, 64)      1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, 128, 128, 64)      36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, 64, 64, 64)        0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, 64, 64, 128)       73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, 64, 64, 128)       147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, 32, 32, 128)       0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, 32, 32, 256)       295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, 32, 32, 256)       590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, 32, 32, 256)       590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, 16, 16, 256)       0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, 16, 16, 512)       1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, 16, 16, 512)       2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, 16, 16, 512)       2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, 8, 8, 512)         0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, 8, 8, 512)         2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, 8, 8, 512)         2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, 8, 8, 512)         2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, 4, 4, 512)         0
_________________________________________________________________
flatten_9 (Flatten)          (None, 8192)              0
_________________________________________________________________
dense_7 (Dense)              (None, 1024)              8389632
_________________________________________________________________
dense_8 (Dense)              (None, 256)               262400
_________________________________________________________________
dense_9 (Dense)              (None, 120)               30840
=================================================================
Total params: 23,397,560
Trainable params: 8,682,872
Non-trainable params: 14,714,688
_________________________________________________________________