In [102]:
import pandas as pd
import numpy as np
import math

In [25]:
data=np.array([['SALESPERSON','Old Scheme (in thousands)','New Scheme (in thousands)'],[1,57,62],[2,103,122],[3,59,54],[4,75,82],[5,84,84],[6,73,86],[7,35,32],[8,110,104],[9,44,38],[10,82,107],[11,67,84],[12,64,85],[13,78,99],[14,53,39],[15,41,34],[16,39,58],[17,80,73],[18,87,53],[19,73,66],[20,65,78],[21,28,41],[22,62,71],[23,49,38],[24,84,95],[25,63,81],[26,77,58],[27,67,75],[28,101,94],[29,91,100],[30,50,68]])

In [27]:
data

array([['SALESPERSON', 'Old Scheme (in thousands)',
        'New Scheme (in thousands)'],
       ['1', '57', '62'],
       ['2', '103', '122'],
       ['3', '59', '54'],
       ['4', '75', '82'],
       ['5', '84', '84'],
       ['6', '73', '86'],
       ['7', '35', '32'],
       ['8', '110', '104'],
       ['9', '44', '38'],
       ['10', '82', '107'],
       ['11', '67', '84'],
       ['12', '64', '85'],
       ['13', '78', '99'],
       ['14', '53', '39'],
       ['15', '41', '34'],
       ['16', '39', '58'],
       ['17', '80', '73'],
       ['18', '87', '53'],
       ['19', '73', '66'],
       ['20', '65', '78'],
       ['21', '28', '41'],
       ['22', '62', '71'],
       ['23', '49', '38'],
       ['24', '84', '95'],
       ['25', '63', '81'],
       ['26', '77', '58'],
       ['27', '67', '75'],
       ['28', '101', '94'],
       ['29', '91', '100'],
       ['30', '50', '68']], dtype='<U25')

In [36]:
employee=pd.DataFrame(data[1:],columns=data[0],dtype=int)
employee.set_index('SALESPERSON',inplace=True)

In [37]:
employee.head()

             Old Scheme (in thousands)  New Scheme (in thousands)
SALESPERSON
1                                   57                         62
2                                  103                        122
3                                   59                         54
4                                   75                         82
5                                   84                         84

In [38]:
employee.isna()
#employee[employee['Old Scheme (in thousands)'].isna()]
#employee[employee['New Scheme (in thousands)'].isna()]

             Old Scheme (in thousands)  New Scheme (in thousands)
SALESPERSON
1                                False                      False
2                                False                      False
3                                False                      False
4                                False                      False
5                                False                      False
6                                False                      False
7                                False                      False
8                                False                      False
9                                False                      False
10                               False                      False
11                               False                      False
12                               False                      False
13                               False                      False
14                               False                      False
15                               False                      False
16                               False                      False
17                               False                      False
18                               False                      False
19                               False                      False
20                               False                      False
21                               False                      False
22                               False                      False
23                               False                      False
24                               False                      False
25                               False                      False
26                               False                      False
27                               False                      False
28                               False                      False
29                               False                      False
30                               False                      False

#### Q1 . Find the mean of old scheme and new scheme column. (5 points)

In [39]:
print("Mean of old scheme is : {}".format(employee['Old Scheme (in thousands)'].mean()))

Mean of old scheme is : 68.03333333333333

In [96]:
print("Mean of New scheme is : {}".format(employee['New Scheme (in thousands)'].mean()))

Mean of New scheme is : 72.03333333333333

### Q2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)

In [45]:
old=np.array(employee['Old Scheme (in thousands)'])
new=np.array(employee['New Scheme (in thousands)'])

In [44]:
old

array([ 57, 103,  59,  75,  84,  73,  35, 110,  44,  82,  67,  64,  78,
        53,  41,  39,  80,  87,  73,  65,  28,  62,  49,  84,  63,  77,
        67, 101,  91,  50])

In [46]:
new

array([ 62, 122,  54,  82,  84,  86,  32, 104,  38, 107,  84,  85,  99,
        39,  34,  58,  73,  53,  66,  78,  41,  71,  38,  95,  81,  58,
        75,  94, 100,  68])

In [70]:
''' µ1 be the mean of old scheme , µ2 be the mean of new scheme
    As we are comparing the values of same experimental unit with two different values,this is a scenario of paired t-test
    we will consider H0 as µ1-µ2<=0 instead of µ1=µ2 
    H1 : µ2-µ1>0 '''
#Basic assumption for t-test is the data is normally distributed , variances between the groups are equal. 
#Using shapiro we'll confirm whether it is normally dist or not
from scipy.stats import shapiro,levene
print("old scheme: {}".format(shapiro(old)))
print("new scheme : {}".format(shapiro(new)))

old scheme: (0.9885103702545166, 0.981367290019989)
new scheme : (0.9687565565109253, 0.5057374835014343)

In [53]:
#As P value is very high , we can confirm that given data is normally distrbuted
#now let's check for equality of variances
levene(old,new)

LeveneResult(statistic=1.063061539437244, pvalue=0.30679836081811235)

In [54]:
#For 95% confidence level ,as pvalue >0.05 , we can confirm that the variances are equal for old,new data

In [198]:
#performing paired t-test
from scipy.stats import ttest_1samp
tstat,pval=ttest_1samp(new-old,0)
#as we are considering only raise in output i.e µ2-µ1 >0 , we consider only right tail
print("P-Value of paired t-test is {}".format(round(pval/2,3)))

P-Value of paired t-test is 0.065

#### Q3. What conclusion does the test (p-value) lead to? (2.5 points)

In [206]:
#for 95% significance ,as p value = 0.065 > 0.05 , H0 should not be rejected.
# µ1-µ2 = 0  i.e µ2 = µ1 .
'''There is NO signficant raise in the output of new scheme compared to old scheme'''

'There is NO signficant raise in the output of new scheme compared to old scheme'

In [149]:
for i in range(11):
    t,p1=ttest_1samp(new-old,i)
    print("P-Val for diff of {} is {} : We are {}% confident to reject H0 but not 95% ".format(i,round(p1,2),round(1-p1,2)))

P-Val for diff of 0 is 0.13 : We are 0.87% confident to reject H0 but not 95%
P-Val for diff of 1 is 0.25 : We are 0.75% confident to reject H0 but not 95%
P-Val for diff of 2 is 0.44 : We are 0.56% confident to reject H0 but not 95%
P-Val for diff of 3 is 0.7 : We are 0.3% confident to reject H0 but not 95%
P-Val for diff of 4 is 1.0 : We are 0.0% confident to reject H0 but not 95%
P-Val for diff of 5 is 0.7 : We are 0.3% confident to reject H0 but not 95%
P-Val for diff of 6 is 0.44 : We are 0.56% confident to reject H0 but not 95%
P-Val for diff of 7 is 0.25 : We are 0.75% confident to reject H0 but not 95%
P-Val for diff of 8 is 0.13 : We are 0.87% confident to reject H0 but not 95%
P-Val for diff of 9 is 0.06 : We are 0.94% confident to reject H0 but not 95%
P-Val for diff of 10 is 0.03 : We are 0.97% confident to reject H0 but not 95%

In [205]:
# from 0-4 our confidence of rejecting decreases so it is clear that diff is some where around 4
# 0-4 covers µ2-µ1 <4
# 4-9 covers µ2-µ1 >4
# from 10 , diff is so large that we can reject
# Hence for 95% confidence  -1<=µ2-µ1<=9

#### Q4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

#### The probability of a type 1 error? (2.5 points)

In [199]:
'''Type 1 error is rejecting H0 when actually H0 is true
   We fix the significance level prior to our analysis.
   Here as signiificance level is 95% , alpha is 5%.
   probability of Type 1 error (alpha) : 5% '''

'Type 1 error is rejecting H0 when actually H0 is true\n   We fix the significance level prior to our analysis.\n   Here as signiificance level is 95% , alpha is 5%.\n   probability of Type 1 error (alpha) : 5% '

#### What is the p- value of the hypothesis test if we test for a difference of 5000? (10 points)

In [200]:
# New output must be greater than old output by 5000 euros
# H1 is µ2-µ1 >5 ( as data is given in multiples of 1000)
# H0 is µ2-µ1 <=0 

t,p1=ttest_1samp(new-old,5)
#But as we are considering only right tail(>5)
p1=p1/2
print("P-Value of paired t-test is {}".format(round(p1,4)))

P-Value of paired t-test is 0.3501

In [202]:
# as p-value 0.35 >0.05 , the diff between new scheme and old scheme is approximately equal to 5000 euros 
# and not greater that 5000 euros

#### Power of the test (5 points)

In [203]:
#β is the type 2 error where H0 is not rejected but actually it needs to be rejected
#1-β is the power
t_critical=(np.mean(new) - np.mean(old)) / np.sqrt(((30-1)*np.var(old,ddof=1)+(30-1)*np.var(new,ddof=1)) / 30+30-2)
t_critical

0.12698746871003666

<img src="files/power.jpg">

In [204]:
ttest_power(t_critical, nobs=30, alpha=0.5, alternative='smaller')

0.24335878601132613

In [ ]:
#the power of test is 0.24